
 
	body {
	   background-color:#E77D22;
	}
		   
	h1{
	   color:#000111;
	   text-align:center;
	}
	p {
	   color:#AAAAAA;
	   font-family: Arial;
	}
	.a{
	   color:#232323;
	   text-align=right;
	}
	
  
